/* grote delen website */

html {
    background-color: white;
}

body {
    background-color: #E6E6E8;
    flex-direction: column;
    font-family: 'open sans', sans-serif;
    font-size: 100%;
    max-height: 85em;
    text-align: left;
}

header {
    background-color: white;
    display: flex;
    height: 3.5em;
}

/* details in header */

.profiel {
    display: flex;
    float: right;
    height: 1.8em;
    margin-left: auto;
    margin-right: 1.0em;
    margin-top: 0.7em;
}

.logo {
    height: 2.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

/* unordered list & list items */

main > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

main > ul > li {
    background-color: white;
    box-shadow: inset 0 -0.15em 0.1em rgba(208, 208, 215, 0.9);
    color: #002D84;
    display: flex;
    font-family: 'open sans', sans-serif;
    justify-content: center;
    margin-right: 0.2em;
    margin-top: 2em;
    padding: 0.7em;
    text-align: center;
    width: 5em;
}

.blauw {
    background-color: #1F74BA;
    box-shadow: inset 0 -0.15em 0.1em rgba(16, 93, 116, 0.9);
    color: white;
}

li:hover {
    background-color: #1F74BA;
    box-shadow: inset 0 -0.15em 0.1em rgba(16, 93, 116, 0.9);
    color: white;
}

@media (min-width:30em){
    li {
        margin-left: 1em;
    }
}


@media (min-width:73em){
    li {
        margin-left: 1.3em;
    }
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.3em;
    max-width: 7em;
}

@media (min-width: 38em) {
    form > div {
        margin-left: 1em;
    }
}

@media (min-width:73em){
    form > div {
        margin-bottom: 1em;
        margin-left: 0.8em;
    }
}

form {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1.5em;
    max-width: 25em;
}

label {
    color: #002D84;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    margin-left: 2em;
    margin-right: 2.2em;
    max-width: 30em;
    padding: 0.3em;
    text-align: center;
}

select {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 2em;
    max-width: 7em;

}

@media (min-width:73em){
    label {
        flex-direction: column;

    }
    select {
        align-items: flex-start;
        flex-direction: column;
    }
    form {
        flex-direction: column;
        justify-content: center;
    }
}

/* article */

section > article {
    background-color: white;
    box-shadow: inset 0 -0.15em 0.1em rgba(208, 208, 215, 0.9);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    max-height: 12em;
    min-width: 20em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 5em;
}

@media (min-width: 38em) {
    section > article {
    max-width: 22em;
    }
}

@media (min-width: 56em) {
    section {
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 50em){
    section {
        display: flex;
        flex-direction: row;
    }

    section > article {
        margin-left: -0.9em;
        margin-right: 1em;
    }
}

@media (min-width: 73em){
    section {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        margin-left: -1em;
    }
    main {
        align-items: baseline;
        display: flex;
        margin-top: 4em;
    }

    main > ul{
        flex-direction: column;
    }

    section > article {
        margin-left: 1em;
        margin-top: 3em;
    }

    form {
        margin-bottom: 2em;
    }
}

section > article:nth-child(2):hover > h2 {
    background-color: black;
    border-bottom: 1px solid white;
}

section > article:nth-child(2):hover {
    background-image: url(images/tankahover.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

section > article:nth-child(3):hover > h2 {
    background-color: #FDF7EE;
    border-bottom: 1px solid #40687F;
    color: #40687F;
}

section > article:nth-child(3):hover {
    background-image: url(images/vaderhover.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

section > article:hover > p {
    visibility: hidden;
}

section > article:hover > footer {
    visibility: hidden;
}

/* h van articles */

h1 {
    font-size: 0.0001em;
    visibility: hidden;
}

h2 {
    background-color: #E20613;
    color: white;
    display: flex;
    font-family: 'open sans', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    justify-content: center;
    padding-bottom: 0.7em;
    padding-top: 0.3em;
    transform: translate(0.2em, -1.8em);
}

/* andere elementen van articles */

article > p {
    display: flex;
    font-size: 0.9em;
    min-width: 23em;
}

article > footer {
    color: #999999;
    display: flex;
    font-size: 0.7em;
    transform: translate(0.2em, -1.8em);
    width: 28em;
}

article > a {
    color: #1F74BA;
    display: flex;
    font-size: 0.8em;
    margin-top: 1.5em;
    text-decoration: none;
}

/* BUTTON opslaan */

article > button {
    background-color: white;
    border: none;
    box-shadow: inset 0 -0.15em 0.1em rgba(208, 208, 215, 0.9);
    color: #002D84;
    display: flex;
    font-family: 'open sans', sans-serif;
    height: 2.5em;
    margin-left: 27em;
    width: 5em;
}

article > button:hover {
    background-color: #1F74BA;
    border: none;
    box-shadow: inset 0 -0.15em 0.1em rgba(16, 93, 116, 0.9);
    color: white;
}

/* JavaScript class */

.opgeslagen {
    background-color: #1F74BA;
    border: none;
    box-shadow: inset 0 -0.15em 0.1em rgba(16, 93, 116, 0.9);
    color: white;
    margin-left: 25.5em;
    width: 6.5em;
}

.opgeslagen2 {
    background-color: #1F74BA;
    border: none;
    box-shadow: inset 0 -0.15em 0.1em rgba(16, 93, 116, 0.9);
    color: white;
    margin-left: 25.5em;
    width: 6.5em;
}

@media (max-width: 35em){
    article > button {
       margin-left: 20em;
    }
    .opgeslagen {
        margin-left: 20em;
        width: 7em;
    }
    .opgeslagen2 {
        margin-left: 20em;
        width: 7em;
    }
}

/* BUTTON Laatst gelezen */

header > a {
    align-items: center;
    background-color: #E5B310;
    border: none;
    box-shadow: inset 0 -0.15em 0.1em rgba(154, 122, 15, 0.9);
    color: white;
    display: flex;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    height: 2.5em;
    margin: auto;
    margin-left: 4em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
}

header > a:hover {
    align-items: flex-start;
    background-color: black;
    background-image: url(images/tankamobiel.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15em;
    transition-duration: 0.5s;
    z-index: 1000;
}

header > a:active {
    align-items: center;
    transform: scale(1.5);
    transition-duration: 0.1s;
}

/*  BUTTON Volgende verhalen */

main > a {
    align-items: center;
    background-color: #E5B310;
    border: none;
    box-shadow: inset 0 -0.15em 0.1em rgba(154, 122, 15, 0.9);
    color: white;
    display: flex;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    height: 2.5em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: -2.5em;
    max-width: 10em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
}

@media (min-width:73em) {
    main > a {
        float: right;
        font-size: 0.8em;
        margin-bottom: auto;
        min-width: 10em;
        transform: translate(-13.2em, 24.2em);
    }
}

button > a {
    color: white;
    text-decoration: none;
}

/* aside */

aside > img {
    max-width: 100%;
}

@media (min-width:73em) {
    aside > img {
        align-self: flex-end;
        margin-top: 2em;
    }
}
